xsd/ServiceBanque.dtd

<?xml version="1.0" encoding="UTF-8"?>
<!ELEMENT BanqueService (conversion,getComptes,getCompte)>
<!ELEMENT conversion (montant)>
<!ELEMENT getComptes (Compte+)>
<!ELEMENT getCompte (Compte)>
<!ELEMENT Compte (code,solde,dataCreation)>
<!ELEMENT code (#PCDATA)>
<!ELEMENT solde (#PCDATA)>
<!ELEMENT dataCreation (#PCDATA)>
<!ELEMENT montant (#PCDATA)>
 